#s-16c477c4-efcd-473b-ba93-545e3d20c4c0 #s-regCom_text_ContactPerson {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-16c477c4-efcd-473b-ba93-545e3d20c4c0 #s-regCom_button_submit {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-e8708d40-10a0-4095-bb85-bd2a24265b76 #m-e8708d40-Logo {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-e8708d40-10a0-4095-bb85-bd2a24265b76 #m-e8708d40-menu_company_profileCompany {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-e8708d40-10a0-4095-bb85-bd2a24265b76 #m-e8708d40-menu_company_searchJobSeeker {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-e8708d40-10a0-4095-bb85-bd2a24265b76 #m-e8708d40-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-16c477c4-efcd-473b-ba93-545e3d20c4c0 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}