#m-646842ad-b0ac-46a6-b31f-fb85ff32e685 #m-646842ad-Logo {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-646842ad-b0ac-46a6-b31f-fb85ff32e685 #m-646842ad-menu_jobseeker_profileJobseeker {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-646842ad-b0ac-46a6-b31f-fb85ff32e685 #m-646842ad-menu_jobseeker_createResume {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-646842ad-b0ac-46a6-b31f-fb85ff32e685 #m-646842ad-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-43773576-e4a6-40ae-b3eb-c5ee07922f39 #s-jsCreateResume_Tet_Experience {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-43773576-e4a6-40ae-b3eb-c5ee07922f39 #s-jsCreateResume_btn_addExperience {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-43773576-e4a6-40ae-b3eb-c5ee07922f39 #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-43773576-e4a6-40ae-b3eb-c5ee07922f39 #s-Button_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-43773576-e4a6-40ae-b3eb-c5ee07922f39 #s-jsCreateResume_text_skills {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-43773576-e4a6-40ae-b3eb-c5ee07922f39 #s-jsCreateResume_btn_submit {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-43773576-e4a6-40ae-b3eb-c5ee07922f39 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}