#m-646842ad-b0ac-46a6-b31f-fb85ff32e685 #m-646842ad-Logo {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-646842ad-b0ac-46a6-b31f-fb85ff32e685 #m-646842ad-menu_jobseeker_profileJobseeker {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-646842ad-b0ac-46a6-b31f-fb85ff32e685 #m-646842ad-menu_jobseeker_createResume {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-646842ad-b0ac-46a6-b31f-fb85ff32e685 #m-646842ad-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5076a082-b513-401d-b769-d494f76aeec0 #s-editJS_text_lang {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5076a082-b513-401d-b769-d494f76aeec0 #s-editJS_btn_add {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5076a082-b513-401d-b769-d494f76aeec0 #s-Text_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5076a082-b513-401d-b769-d494f76aeec0 #s-Button_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5076a082-b513-401d-b769-d494f76aeec0 #s-Button_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5076a082-b513-401d-b769-d494f76aeec0 #s-editJS_text_edu {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5076a082-b513-401d-b769-d494f76aeec0 #s-editJS_btn_add_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5076a082-b513-401d-b769-d494f76aeec0 #s-Text_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5076a082-b513-401d-b769-d494f76aeec0 #s-Button_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5076a082-b513-401d-b769-d494f76aeec0 #s-Button_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5076a082-b513-401d-b769-d494f76aeec0 #s-editJS_text_courses {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5076a082-b513-401d-b769-d494f76aeec0 #s-editJS_btn_add_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5076a082-b513-401d-b769-d494f76aeec0 #s-Text_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5076a082-b513-401d-b769-d494f76aeec0 #s-Button_25 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5076a082-b513-401d-b769-d494f76aeec0 #s-Button_26 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5076a082-b513-401d-b769-d494f76aeec0 #s-editJS_text_experience {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5076a082-b513-401d-b769-d494f76aeec0 #s-Button_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5076a082-b513-401d-b769-d494f76aeec0 #s-Button_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5076a082-b513-401d-b769-d494f76aeec0 #s-Button_27 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5076a082-b513-401d-b769-d494f76aeec0 #s-Button_28 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5076a082-b513-401d-b769-d494f76aeec0 #s-Text_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5076a082-b513-401d-b769-d494f76aeec0 #s-Button_29 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5076a082-b513-401d-b769-d494f76aeec0 #s-Button_30 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5076a082-b513-401d-b769-d494f76aeec0 #s-Button_31 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5076a082-b513-401d-b769-d494f76aeec0 #s-Button_33 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5076a082-b513-401d-b769-d494f76aeec0 #s-Button_34 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5076a082-b513-401d-b769-d494f76aeec0 #s-Button_35 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5076a082-b513-401d-b769-d494f76aeec0 #s-Button_32 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5076a082-b513-401d-b769-d494f76aeec0 #s-Button_36 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5076a082-b513-401d-b769-d494f76aeec0 #s-editJS_text_experience_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5076a082-b513-401d-b769-d494f76aeec0 #s-editJS_btn_add_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5076a082-b513-401d-b769-d494f76aeec0 #s-Text_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5076a082-b513-401d-b769-d494f76aeec0 #s-Button_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5076a082-b513-401d-b769-d494f76aeec0 #s-Button_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5076a082-b513-401d-b769-d494f76aeec0 #s-editJS_text_aboutMe {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5076a082-b513-401d-b769-d494f76aeec0 #s-regCom_button_submit {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5076a082-b513-401d-b769-d494f76aeec0 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}