#s-a91893ad-5a1b-4f0a-9fc9-2c5be7230c02 #s-Logo {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a91893ad-5a1b-4f0a-9fc9-2c5be7230c02 #s-regAcc_button_submit {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a91893ad-5a1b-4f0a-9fc9-2c5be7230c02 #s-Paragraph_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a91893ad-5a1b-4f0a-9fc9-2c5be7230c02 #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a91893ad-5a1b-4f0a-9fc9-2c5be7230c02 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}