#s-a91893ad-5a1b-4f0a-9fc9-2c5be7230c02 > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-a91893ad-5a1b-4f0a-9fc9-2c5be7230c02 > #alignmentBox {
  position: relative;
  margin: 0 auto;
  width: 1024px;
  min-width: 1024px;
  min-height: 768px;
}
#s-a91893ad-5a1b-4f0a-9fc9-2c5be7230c02 #s-Logo {
  position: absolute;
  top: 0px;
  left: 41px;
  width: 137px;
  height: 53px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-a91893ad-5a1b-4f0a-9fc9-2c5be7230c02 #s-Logo .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a91893ad-5a1b-4f0a-9fc9-2c5be7230c02 #s-Logo span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-a91893ad-5a1b-4f0a-9fc9-2c5be7230c02 #s-Logo span#rtr-s-Logo_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-a91893ad-5a1b-4f0a-9fc9-2c5be7230c02 #s-regAcc_input_login input::-webkit-input-placeholder {
  color: #B4B4B4;
}
#s-a91893ad-5a1b-4f0a-9fc9-2c5be7230c02 #s-regAcc_input_login input::-moz-placeholder {
  color: #B4B4B4;
}
#s-a91893ad-5a1b-4f0a-9fc9-2c5be7230c02 #s-regAcc_input_login input:-moz-placeholder {
  color: #B4B4B4;
}
#s-a91893ad-5a1b-4f0a-9fc9-2c5be7230c02 #s-regAcc_input_login input:-ms-input-placeholder {
  color: #B4B4B4;
}
#s-a91893ad-5a1b-4f0a-9fc9-2c5be7230c02 #s-regAcc_input_login {
  position: absolute;
  top: 66px;
  left: 41px;
  padding-left: 5px;
  width: 214px;
  height: 27px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  box-shadow: none;
  text-shadow: none;
}
#s-a91893ad-5a1b-4f0a-9fc9-2c5be7230c02 #s-regAcc_input_login .valign {
  vertical-align: middle;
  line-height: 12.0pt;
}
#s-a91893ad-5a1b-4f0a-9fc9-2c5be7230c02 #s-regAcc_input_login input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}
#s-a91893ad-5a1b-4f0a-9fc9-2c5be7230c02 #s-regAcc_input_password input::-webkit-input-placeholder {
  color: #B4B4B4;
}
#s-a91893ad-5a1b-4f0a-9fc9-2c5be7230c02 #s-regAcc_input_password input::-moz-placeholder {
  color: #B4B4B4;
}
#s-a91893ad-5a1b-4f0a-9fc9-2c5be7230c02 #s-regAcc_input_password input:-moz-placeholder {
  color: #B4B4B4;
}
#s-a91893ad-5a1b-4f0a-9fc9-2c5be7230c02 #s-regAcc_input_password input:-ms-input-placeholder {
  color: #B4B4B4;
}
#s-a91893ad-5a1b-4f0a-9fc9-2c5be7230c02 #s-regAcc_input_password {
  position: absolute;
  top: 104px;
  left: 41px;
  padding-left: 5px;
  width: 214px;
  height: 27px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  box-shadow: none;
  text-shadow: none;
  cursor: text;
}
#s-a91893ad-5a1b-4f0a-9fc9-2c5be7230c02 #s-regAcc_input_password .valign {
  vertical-align: middle;
  line-height: 12.0pt;
}
#s-a91893ad-5a1b-4f0a-9fc9-2c5be7230c02 #s-regAcc_input_password input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}
#s-a91893ad-5a1b-4f0a-9fc9-2c5be7230c02 #s-regAcc_select_role {
  position: absolute;
  top: 142px;
  left: 41px;
  width: 180px;
}
#s-a91893ad-5a1b-4f0a-9fc9-2c5be7230c02 #s-regAcc_select_role .valign {
  width: 162px;
}
#s-a91893ad-5a1b-4f0a-9fc9-2c5be7230c02 #s-regAcc_select_typeQuestion {
  position: absolute;
  top: 171px;
  left: 41px;
  width: 180px;
}
#s-a91893ad-5a1b-4f0a-9fc9-2c5be7230c02 #s-regAcc_select_typeQuestion .valign {
  width: 162px;
}
#s-a91893ad-5a1b-4f0a-9fc9-2c5be7230c02 #s-regAcc_input_answerToQuestion input::-webkit-input-placeholder {
  color: #B4B4B4;
}
#s-a91893ad-5a1b-4f0a-9fc9-2c5be7230c02 #s-regAcc_input_answerToQuestion input::-moz-placeholder {
  color: #B4B4B4;
}
#s-a91893ad-5a1b-4f0a-9fc9-2c5be7230c02 #s-regAcc_input_answerToQuestion input:-moz-placeholder {
  color: #B4B4B4;
}
#s-a91893ad-5a1b-4f0a-9fc9-2c5be7230c02 #s-regAcc_input_answerToQuestion input:-ms-input-placeholder {
  color: #B4B4B4;
}
#s-a91893ad-5a1b-4f0a-9fc9-2c5be7230c02 #s-regAcc_input_answerToQuestion {
  position: absolute;
  top: 200px;
  left: 41px;
  padding-left: 5px;
  width: 214px;
  height: 27px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  box-shadow: none;
  text-shadow: none;
  cursor: text;
}
#s-a91893ad-5a1b-4f0a-9fc9-2c5be7230c02 #s-regAcc_input_answerToQuestion .valign {
  vertical-align: middle;
  line-height: 12.0pt;
}
#s-a91893ad-5a1b-4f0a-9fc9-2c5be7230c02 #s-regAcc_input_answerToQuestion input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}
#s-a91893ad-5a1b-4f0a-9fc9-2c5be7230c02 #s-regAcc_input_phone input::-webkit-input-placeholder {
  color: #B4B4B4;
}
#s-a91893ad-5a1b-4f0a-9fc9-2c5be7230c02 #s-regAcc_input_phone input::-moz-placeholder {
  color: #B4B4B4;
}
#s-a91893ad-5a1b-4f0a-9fc9-2c5be7230c02 #s-regAcc_input_phone input:-moz-placeholder {
  color: #B4B4B4;
}
#s-a91893ad-5a1b-4f0a-9fc9-2c5be7230c02 #s-regAcc_input_phone input:-ms-input-placeholder {
  color: #B4B4B4;
}
#s-a91893ad-5a1b-4f0a-9fc9-2c5be7230c02 #s-regAcc_input_phone {
  position: absolute;
  top: 238px;
  left: 41px;
  padding-left: 5px;
  width: 214px;
  height: 27px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  box-shadow: none;
  text-shadow: none;
}
#s-a91893ad-5a1b-4f0a-9fc9-2c5be7230c02 #s-regAcc_input_phone .valign {
  vertical-align: middle;
  line-height: 12.0pt;
}
#s-a91893ad-5a1b-4f0a-9fc9-2c5be7230c02 #s-regAcc_input_phone input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}
#s-a91893ad-5a1b-4f0a-9fc9-2c5be7230c02 #s-regAcc_button_submit {
  position: absolute;
  top: 276px;
  left: 41px;
  width: auto;
  height: auto;
  background-color: #FFFFFF;
  background-image: -moz-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#FFFFFF), color-stop(100%,#E6E6E6));
  background-image: -o-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 3px 3px 3px 3px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 12.0pt;
  font-family: 'Arial',Arial;
}
#s-a91893ad-5a1b-4f0a-9fc9-2c5be7230c02 #s-regAcc_button_submit .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a91893ad-5a1b-4f0a-9fc9-2c5be7230c02 #s-regAcc_button_submit span {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-a91893ad-5a1b-4f0a-9fc9-2c5be7230c02 #s-regAcc_button_submit span#rtr-s-regAcc_button_submit_0 {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-a91893ad-5a1b-4f0a-9fc9-2c5be7230c02 #s-AccReg_DynPan_ResReg {
  position: absolute;
  top: 113px;
  left: 62px;
}
#s-a91893ad-5a1b-4f0a-9fc9-2c5be7230c02 #s-Panel_2 {
  width: 180px;
  height: 100px;
  background-color: #D9D9D9;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-a91893ad-5a1b-4f0a-9fc9-2c5be7230c02 #s-Panel_2 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-a91893ad-5a1b-4f0a-9fc9-2c5be7230c02 #s-Panel_2 .verticalalign {
  vertical-align: top;
}
#s-a91893ad-5a1b-4f0a-9fc9-2c5be7230c02 #s-Paragraph_1 {
  position: absolute;
  top: 31px;
  left: 27px;
  width: 124px;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-a91893ad-5a1b-4f0a-9fc9-2c5be7230c02 #s-Paragraph_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a91893ad-5a1b-4f0a-9fc9-2c5be7230c02 #s-Paragraph_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-a91893ad-5a1b-4f0a-9fc9-2c5be7230c02 #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-a91893ad-5a1b-4f0a-9fc9-2c5be7230c02 #s-Button_1 {
  position: absolute;
  top: 69px;
  left: 42px;
  width: auto;
  height: auto;
  background-color: #FFFFFF;
  background-image: -moz-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#FFFFFF), color-stop(100%,#E6E6E6));
  background-image: -o-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 3px 3px 3px 3px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-a91893ad-5a1b-4f0a-9fc9-2c5be7230c02 #s-Button_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a91893ad-5a1b-4f0a-9fc9-2c5be7230c02 #s-Button_1 span {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-a91893ad-5a1b-4f0a-9fc9-2c5be7230c02 #s-Button_1 span#rtr-s-Button_1_0 {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-a91893ad-5a1b-4f0a-9fc9-2c5be7230c02 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}