#m-e8708d40-10a0-4095-bb85-bd2a24265b76 #m-e8708d40-Logo {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-e8708d40-10a0-4095-bb85-bd2a24265b76 #m-e8708d40-menu_company_profileCompany {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-e8708d40-10a0-4095-bb85-bd2a24265b76 #m-e8708d40-menu_company_searchJobSeeker {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-e8708d40-10a0-4095-bb85-bd2a24265b76 #m-e8708d40-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b112341d-267a-4530-a31f-53c2af29a3c1 #s-comProf_text_companyName {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b112341d-267a-4530-a31f-53c2af29a3c1 #s-comProf_text_companyType {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b112341d-267a-4530-a31f-53c2af29a3c1 #s-comProf_text_companySize {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b112341d-267a-4530-a31f-53c2af29a3c1 #s-comProf_text_companyLocation {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b112341d-267a-4530-a31f-53c2af29a3c1 #s-comProf_text_companyAbout {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b112341d-267a-4530-a31f-53c2af29a3c1 #s-comProf_text_companySite {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b112341d-267a-4530-a31f-53c2af29a3c1 #s-comProf_text_companyPhone {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b112341d-267a-4530-a31f-53c2af29a3c1 #s-comProf_text_companyFax {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b112341d-267a-4530-a31f-53c2af29a3c1 #s-comProf_text_companyEmail {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b112341d-267a-4530-a31f-53c2af29a3c1 #s-regCom_text_ContactPerson {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b112341d-267a-4530-a31f-53c2af29a3c1 #s-comProf_text_contactPerson_name {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b112341d-267a-4530-a31f-53c2af29a3c1 #s-comProf_text_contactPerson_surname {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b112341d-267a-4530-a31f-53c2af29a3c1 #s-comProf_text_contactPerson_position {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b112341d-267a-4530-a31f-53c2af29a3c1 #s-comProf_text_contactPerson_phone {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b112341d-267a-4530-a31f-53c2af29a3c1 #s-comProf_text_contactPerson_email {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b112341d-267a-4530-a31f-53c2af29a3c1 #s-comProf_button_editProfile {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b112341d-267a-4530-a31f-53c2af29a3c1 #s-comProf_button_verify {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b112341d-267a-4530-a31f-53c2af29a3c1 #s-comProf_text_contactPerson_verifuStatus_no {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b112341d-267a-4530-a31f-53c2af29a3c1 #s-comProf_text_contactPerson_verifuStatus_inProcess {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b112341d-267a-4530-a31f-53c2af29a3c1 #s-Text_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b112341d-267a-4530-a31f-53c2af29a3c1 #s-Button_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b112341d-267a-4530-a31f-53c2af29a3c1 #s-Button_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b112341d-267a-4530-a31f-53c2af29a3c1 #s-Text_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b112341d-267a-4530-a31f-53c2af29a3c1 #s-Button_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b112341d-267a-4530-a31f-53c2af29a3c1 #s-Text_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b112341d-267a-4530-a31f-53c2af29a3c1 #s-Button_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b112341d-267a-4530-a31f-53c2af29a3c1 #s-Text_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b112341d-267a-4530-a31f-53c2af29a3c1 #s-Button_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b112341d-267a-4530-a31f-53c2af29a3c1 #s-Text_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b112341d-267a-4530-a31f-53c2af29a3c1 #s-Button_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b112341d-267a-4530-a31f-53c2af29a3c1 #s-comProf_button_deleteProfile {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b112341d-267a-4530-a31f-53c2af29a3c1 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}