#s-b112341d-267a-4530-a31f-53c2af29a3c1 > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-b112341d-267a-4530-a31f-53c2af29a3c1 > #alignmentBox {
  position: relative;
  margin: 0 auto;
  width: 1024px;
  min-width: 1024px;
  min-height: 768px;
}
#s-b112341d-267a-4530-a31f-53c2af29a3c1 #s-Master_item_1 div.offset {
  position: relative;
  top: 0px;
  left: -41px;
}
#s-b112341d-267a-4530-a31f-53c2af29a3c1 #s-Master_item_1 {
  position: absolute;
  top: 0px;
  left: 41px;
  width: 829px;
  height: 108px;
  overflow: visible;
}
#s-b112341d-267a-4530-a31f-53c2af29a3c1 #s-comProf_text_companyName {
  position: absolute;
  top: 117px;
  left: 41px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: 'Arial',Arial;
}
#s-b112341d-267a-4530-a31f-53c2af29a3c1 #s-comProf_text_companyName .valign {
  vertical-align: middle;
  text-align: left;
}
#s-b112341d-267a-4530-a31f-53c2af29a3c1 #s-comProf_text_companyName span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-b112341d-267a-4530-a31f-53c2af29a3c1 #s-comProf_text_companyName span#rtr-s-comProf_text_companyName_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-b112341d-267a-4530-a31f-53c2af29a3c1 #s-comProf_text_companyType {
  position: absolute;
  top: 144px;
  left: 41px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Arial',Arial;
}
#s-b112341d-267a-4530-a31f-53c2af29a3c1 #s-comProf_text_companyType .valign {
  vertical-align: middle;
  text-align: left;
}
#s-b112341d-267a-4530-a31f-53c2af29a3c1 #s-comProf_text_companyType span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-b112341d-267a-4530-a31f-53c2af29a3c1 #s-comProf_text_companyType span#rtr-s-comProf_text_companyType_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-b112341d-267a-4530-a31f-53c2af29a3c1 #s-comProf_text_companyType span#rtr-s-comProf_text_companyType_1 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-b112341d-267a-4530-a31f-53c2af29a3c1 #s-comProf_text_companySize {
  position: absolute;
  top: 171px;
  left: 41px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Arial',Arial;
}
#s-b112341d-267a-4530-a31f-53c2af29a3c1 #s-comProf_text_companySize .valign {
  vertical-align: middle;
  text-align: left;
}
#s-b112341d-267a-4530-a31f-53c2af29a3c1 #s-comProf_text_companySize span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-b112341d-267a-4530-a31f-53c2af29a3c1 #s-comProf_text_companySize span#rtr-s-comProf_text_companySize_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-b112341d-267a-4530-a31f-53c2af29a3c1 #s-comProf_text_companySize span#rtr-s-comProf_text_companySize_1 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-b112341d-267a-4530-a31f-53c2af29a3c1 #s-comProf_text_companyLocation {
  position: absolute;
  top: 198px;
  left: 41px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Arial',Arial;
}
#s-b112341d-267a-4530-a31f-53c2af29a3c1 #s-comProf_text_companyLocation .valign {
  vertical-align: middle;
  text-align: left;
}
#s-b112341d-267a-4530-a31f-53c2af29a3c1 #s-comProf_text_companyLocation span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-b112341d-267a-4530-a31f-53c2af29a3c1 #s-comProf_text_companyLocation span#rtr-s-comProf_text_companyLocation_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-b112341d-267a-4530-a31f-53c2af29a3c1 #s-comProf_text_companyLocation span#rtr-s-comProf_text_companyLocation_1 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-b112341d-267a-4530-a31f-53c2af29a3c1 #s-comProf_text_companyLocation span#rtr-s-comProf_text_companyLocation_2 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-b112341d-267a-4530-a31f-53c2af29a3c1 #s-comProf_text_companyAbout {
  position: absolute;
  top: 225px;
  left: 41px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Arial',Arial;
}
#s-b112341d-267a-4530-a31f-53c2af29a3c1 #s-comProf_text_companyAbout .valign {
  vertical-align: middle;
  text-align: left;
}
#s-b112341d-267a-4530-a31f-53c2af29a3c1 #s-comProf_text_companyAbout span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-b112341d-267a-4530-a31f-53c2af29a3c1 #s-comProf_text_companyAbout span#rtr-s-comProf_text_companyAbout_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-b112341d-267a-4530-a31f-53c2af29a3c1 #s-comProf_text_companyAbout span#rtr-s-comProf_text_companyAbout_1 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-b112341d-267a-4530-a31f-53c2af29a3c1 #s-comProf_text_companyAbout span#rtr-s-comProf_text_companyAbout_2 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-b112341d-267a-4530-a31f-53c2af29a3c1 #s-comProf_text_companySite {
  position: absolute;
  top: 252px;
  left: 41px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Arial',Arial;
}
#s-b112341d-267a-4530-a31f-53c2af29a3c1 #s-comProf_text_companySite .valign {
  vertical-align: middle;
  text-align: left;
}
#s-b112341d-267a-4530-a31f-53c2af29a3c1 #s-comProf_text_companySite span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-b112341d-267a-4530-a31f-53c2af29a3c1 #s-comProf_text_companySite span#rtr-s-comProf_text_companySite_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-b112341d-267a-4530-a31f-53c2af29a3c1 #s-comProf_text_companySite span#rtr-s-comProf_text_companySite_1 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-b112341d-267a-4530-a31f-53c2af29a3c1 #s-comProf_text_companyPhone {
  position: absolute;
  top: 279px;
  left: 41px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Arial',Arial;
}
#s-b112341d-267a-4530-a31f-53c2af29a3c1 #s-comProf_text_companyPhone .valign {
  vertical-align: middle;
  text-align: left;
}
#s-b112341d-267a-4530-a31f-53c2af29a3c1 #s-comProf_text_companyPhone span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-b112341d-267a-4530-a31f-53c2af29a3c1 #s-comProf_text_companyPhone span#rtr-s-comProf_text_companyPhone_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-b112341d-267a-4530-a31f-53c2af29a3c1 #s-comProf_text_companyPhone span#rtr-s-comProf_text_companyPhone_1 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-b112341d-267a-4530-a31f-53c2af29a3c1 #s-comProf_text_companyPhone span#rtr-s-comProf_text_companyPhone_2 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-b112341d-267a-4530-a31f-53c2af29a3c1 #s-comProf_text_companyFax {
  position: absolute;
  top: 306px;
  left: 41px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Arial',Arial;
}
#s-b112341d-267a-4530-a31f-53c2af29a3c1 #s-comProf_text_companyFax .valign {
  vertical-align: middle;
  text-align: left;
}
#s-b112341d-267a-4530-a31f-53c2af29a3c1 #s-comProf_text_companyFax span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-b112341d-267a-4530-a31f-53c2af29a3c1 #s-comProf_text_companyFax span#rtr-s-comProf_text_companyFax_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-b112341d-267a-4530-a31f-53c2af29a3c1 #s-comProf_text_companyFax span#rtr-s-comProf_text_companyFax_1 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-b112341d-267a-4530-a31f-53c2af29a3c1 #s-comProf_text_companyEmail {
  position: absolute;
  top: 333px;
  left: 41px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Arial',Arial;
}
#s-b112341d-267a-4530-a31f-53c2af29a3c1 #s-comProf_text_companyEmail .valign {
  vertical-align: middle;
  text-align: left;
}
#s-b112341d-267a-4530-a31f-53c2af29a3c1 #s-comProf_text_companyEmail span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-b112341d-267a-4530-a31f-53c2af29a3c1 #s-comProf_text_companyEmail span#rtr-s-comProf_text_companyEmail_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-b112341d-267a-4530-a31f-53c2af29a3c1 #s-comProf_text_companyEmail span#rtr-s-comProf_text_companyEmail_1 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-b112341d-267a-4530-a31f-53c2af29a3c1 #s-comProf_text_companyEmail span#rtr-s-comProf_text_companyEmail_2 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-b112341d-267a-4530-a31f-53c2af29a3c1 #s-regCom_text_ContactPerson {
  position: absolute;
  top: 117px;
  left: 362px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: 'Arial',Arial;
}
#s-b112341d-267a-4530-a31f-53c2af29a3c1 #s-regCom_text_ContactPerson .valign {
  vertical-align: middle;
  text-align: left;
}
#s-b112341d-267a-4530-a31f-53c2af29a3c1 #s-regCom_text_ContactPerson span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-b112341d-267a-4530-a31f-53c2af29a3c1 #s-regCom_text_ContactPerson span#rtr-s-regCom_text_ContactPerson_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-b112341d-267a-4530-a31f-53c2af29a3c1 #s-comProf_text_contactPerson_name {
  position: absolute;
  top: 144px;
  left: 362px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Arial',Arial;
}
#s-b112341d-267a-4530-a31f-53c2af29a3c1 #s-comProf_text_contactPerson_name .valign {
  vertical-align: middle;
  text-align: left;
}
#s-b112341d-267a-4530-a31f-53c2af29a3c1 #s-comProf_text_contactPerson_name span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-b112341d-267a-4530-a31f-53c2af29a3c1 #s-comProf_text_contactPerson_name span#rtr-s-comProf_text_contactPerson_name_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-b112341d-267a-4530-a31f-53c2af29a3c1 #s-comProf_text_contactPerson_name span#rtr-s-comProf_text_contactPerson_name_1 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-b112341d-267a-4530-a31f-53c2af29a3c1 #s-comProf_text_contactPerson_surname {
  position: absolute;
  top: 171px;
  left: 362px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Arial',Arial;
}
#s-b112341d-267a-4530-a31f-53c2af29a3c1 #s-comProf_text_contactPerson_surname .valign {
  vertical-align: middle;
  text-align: left;
}
#s-b112341d-267a-4530-a31f-53c2af29a3c1 #s-comProf_text_contactPerson_surname span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-b112341d-267a-4530-a31f-53c2af29a3c1 #s-comProf_text_contactPerson_surname span#rtr-s-comProf_text_contactPerson_surname_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-b112341d-267a-4530-a31f-53c2af29a3c1 #s-comProf_text_contactPerson_surname span#rtr-s-comProf_text_contactPerson_surname_1 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-b112341d-267a-4530-a31f-53c2af29a3c1 #s-comProf_text_contactPerson_surname span#rtr-s-comProf_text_contactPerson_surname_2 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-b112341d-267a-4530-a31f-53c2af29a3c1 #s-comProf_text_contactPerson_position {
  position: absolute;
  top: 198px;
  left: 362px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Arial',Arial;
}
#s-b112341d-267a-4530-a31f-53c2af29a3c1 #s-comProf_text_contactPerson_position .valign {
  vertical-align: middle;
  text-align: left;
}
#s-b112341d-267a-4530-a31f-53c2af29a3c1 #s-comProf_text_contactPerson_position span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-b112341d-267a-4530-a31f-53c2af29a3c1 #s-comProf_text_contactPerson_position span#rtr-s-comProf_text_contactPerson_position_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-b112341d-267a-4530-a31f-53c2af29a3c1 #s-comProf_text_contactPerson_position span#rtr-s-comProf_text_contactPerson_position_1 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-b112341d-267a-4530-a31f-53c2af29a3c1 #s-comProf_text_contactPerson_position span#rtr-s-comProf_text_contactPerson_position_2 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-b112341d-267a-4530-a31f-53c2af29a3c1 #s-comProf_text_contactPerson_position span#rtr-s-comProf_text_contactPerson_position_3 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-b112341d-267a-4530-a31f-53c2af29a3c1 #s-comProf_text_contactPerson_phone {
  position: absolute;
  top: 225px;
  left: 362px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Arial',Arial;
}
#s-b112341d-267a-4530-a31f-53c2af29a3c1 #s-comProf_text_contactPerson_phone .valign {
  vertical-align: middle;
  text-align: left;
}
#s-b112341d-267a-4530-a31f-53c2af29a3c1 #s-comProf_text_contactPerson_phone span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-b112341d-267a-4530-a31f-53c2af29a3c1 #s-comProf_text_contactPerson_phone span#rtr-s-comProf_text_contactPerson_phone_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-b112341d-267a-4530-a31f-53c2af29a3c1 #s-comProf_text_contactPerson_phone span#rtr-s-comProf_text_contactPerson_phone_1 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-b112341d-267a-4530-a31f-53c2af29a3c1 #s-comProf_text_contactPerson_phone span#rtr-s-comProf_text_contactPerson_phone_2 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-b112341d-267a-4530-a31f-53c2af29a3c1 #s-comProf_text_contactPerson_email {
  position: absolute;
  top: 252px;
  left: 362px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Arial',Arial;
}
#s-b112341d-267a-4530-a31f-53c2af29a3c1 #s-comProf_text_contactPerson_email .valign {
  vertical-align: middle;
  text-align: left;
}
#s-b112341d-267a-4530-a31f-53c2af29a3c1 #s-comProf_text_contactPerson_email span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-b112341d-267a-4530-a31f-53c2af29a3c1 #s-comProf_text_contactPerson_email span#rtr-s-comProf_text_contactPerson_email_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-b112341d-267a-4530-a31f-53c2af29a3c1 #s-comProf_text_contactPerson_email span#rtr-s-comProf_text_contactPerson_email_1 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-b112341d-267a-4530-a31f-53c2af29a3c1 #s-comProf_text_contactPerson_email span#rtr-s-comProf_text_contactPerson_email_2 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-b112341d-267a-4530-a31f-53c2af29a3c1 #s-comProf_button_editProfile {
  position: absolute;
  top: 362px;
  left: 41px;
  width: auto;
  height: auto;
  background-color: #FFFFFF;
  background-image: -moz-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#FFFFFF), color-stop(100%,#E6E6E6));
  background-image: -o-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 3px 3px 3px 3px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 12.0pt;
  font-family: 'Arial',Arial;
}
#s-b112341d-267a-4530-a31f-53c2af29a3c1 #s-comProf_button_editProfile .valign {
  vertical-align: middle;
  text-align: center;
}
#s-b112341d-267a-4530-a31f-53c2af29a3c1 #s-comProf_button_editProfile span {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-b112341d-267a-4530-a31f-53c2af29a3c1 #s-comProf_button_editProfile span#rtr-s-comProf_button_editProfile_0 {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-b112341d-267a-4530-a31f-53c2af29a3c1 #s-comProf_button_editProfile span#rtr-s-comProf_button_editProfile_1 {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-b112341d-267a-4530-a31f-53c2af29a3c1 #s-comProf_button_verify {
  position: absolute;
  top: 316px;
  left: 362px;
  width: auto;
  height: auto;
  background-color: #FFFFFF;
  background-image: -moz-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#FFFFFF), color-stop(100%,#E6E6E6));
  background-image: -o-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 3px 3px 3px 3px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 12.0pt;
  font-family: 'Arial',Arial;
}
#s-b112341d-267a-4530-a31f-53c2af29a3c1 #s-comProf_button_verify .valign {
  vertical-align: middle;
  text-align: center;
}
#s-b112341d-267a-4530-a31f-53c2af29a3c1 #s-comProf_button_verify span {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-b112341d-267a-4530-a31f-53c2af29a3c1 #s-comProf_button_verify span#rtr-s-comProf_button_verify_0 {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-b112341d-267a-4530-a31f-53c2af29a3c1 #s-comProf_button_verify span#rtr-s-comProf_button_verify_1 {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-b112341d-267a-4530-a31f-53c2af29a3c1 #s-comProf_text_contactPerson_verifuStatus_no {
  position: absolute;
  top: 289px;
  left: 362px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Arial',Arial;
}
#s-b112341d-267a-4530-a31f-53c2af29a3c1 #s-comProf_text_contactPerson_verifuStatus_no .valign {
  vertical-align: middle;
  text-align: left;
}
#s-b112341d-267a-4530-a31f-53c2af29a3c1 #s-comProf_text_contactPerson_verifuStatus_no span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-b112341d-267a-4530-a31f-53c2af29a3c1 #s-comProf_text_contactPerson_verifuStatus_no span#rtr-s-comProf_text_contactPerson_verifuStatus_no_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-b112341d-267a-4530-a31f-53c2af29a3c1 #s-comProf_text_contactPerson_verifuStatus_no span#rtr-s-comProf_text_contactPerson_verifuStatus_no_1 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-b112341d-267a-4530-a31f-53c2af29a3c1 #s-comProf_text_contactPerson_verifuStatus_inProcess {
  position: absolute;
  top: 289px;
  left: 362px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Arial',Arial;
}
#s-b112341d-267a-4530-a31f-53c2af29a3c1 #s-comProf_text_contactPerson_verifuStatus_inProcess .valign {
  vertical-align: middle;
  text-align: left;
}
#s-b112341d-267a-4530-a31f-53c2af29a3c1 #s-comProf_text_contactPerson_verifuStatus_inProcess span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-b112341d-267a-4530-a31f-53c2af29a3c1 #s-comProf_text_contactPerson_verifuStatus_inProcess span#rtr-s-comProf_text_contactPerson_verifuStatus_inProcess_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-b112341d-267a-4530-a31f-53c2af29a3c1 #s-comProf_text_contactPerson_verifuStatus_inProcess span#rtr-s-comProf_text_contactPerson_verifuStatus_inProcess_1 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-b112341d-267a-4530-a31f-53c2af29a3c1 #s-comProf_text_contactPerson_verifuStatus_inProcess span#rtr-s-comProf_text_contactPerson_verifuStatus_inProcess_2 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-b112341d-267a-4530-a31f-53c2af29a3c1 #s-Dynamic_Panel_companyProfile {
  position: absolute;
  top: 124px;
  left: 213px;
}
#s-b112341d-267a-4530-a31f-53c2af29a3c1 #s-empty {
  width: 319px;
  height: 173px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-b112341d-267a-4530-a31f-53c2af29a3c1 #s-empty td.layout {
  padding: 0px 0px 0px 0px;
}
#s-b112341d-267a-4530-a31f-53c2af29a3c1 #s-empty .verticalalign {
  vertical-align: top;
}
#s-b112341d-267a-4530-a31f-53c2af29a3c1 #s-remove {
  width: 319px;
  height: 173px;
  background-color: #D9D9D9;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-b112341d-267a-4530-a31f-53c2af29a3c1 #s-remove td.layout {
  padding: 0px 0px 0px 0px;
}
#s-b112341d-267a-4530-a31f-53c2af29a3c1 #s-remove .verticalalign {
  vertical-align: top;
}
#s-b112341d-267a-4530-a31f-53c2af29a3c1 #s-Text_8 {
  position: absolute;
  top: 33px;
  left: 70px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Arial',Arial;
}
#s-b112341d-267a-4530-a31f-53c2af29a3c1 #s-Text_8 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-b112341d-267a-4530-a31f-53c2af29a3c1 #s-Text_8 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-b112341d-267a-4530-a31f-53c2af29a3c1 #s-Text_8 span#rtr-s-Text_8_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-b112341d-267a-4530-a31f-53c2af29a3c1 #s-Button_5 {
  position: absolute;
  top: 113px;
  left: 95px;
  width: auto;
  height: auto;
  background-color: #FFFFFF;
  background-image: -moz-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#FFFFFF), color-stop(100%,#E6E6E6));
  background-image: -o-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 3px 3px 3px 3px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-b112341d-267a-4530-a31f-53c2af29a3c1 #s-Button_5 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-b112341d-267a-4530-a31f-53c2af29a3c1 #s-Button_5 span {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-b112341d-267a-4530-a31f-53c2af29a3c1 #s-Button_5 span#rtr-s-Button_5_0 {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-b112341d-267a-4530-a31f-53c2af29a3c1 #s-Button_9 {
  position: absolute;
  top: 113px;
  left: 190px;
  width: auto;
  height: auto;
  background-color: #FFFFFF;
  background-image: -moz-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#FFFFFF), color-stop(100%,#E6E6E6));
  background-image: -o-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 3px 3px 3px 3px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-b112341d-267a-4530-a31f-53c2af29a3c1 #s-Button_9 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-b112341d-267a-4530-a31f-53c2af29a3c1 #s-Button_9 span {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-b112341d-267a-4530-a31f-53c2af29a3c1 #s-Button_9 span#rtr-s-Button_9_0 {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-b112341d-267a-4530-a31f-53c2af29a3c1 #s-remove_ok {
  width: 319px;
  height: 173px;
  background-color: #D9D9D9;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-b112341d-267a-4530-a31f-53c2af29a3c1 #s-remove_ok td.layout {
  padding: 0px 0px 0px 0px;
}
#s-b112341d-267a-4530-a31f-53c2af29a3c1 #s-remove_ok .verticalalign {
  vertical-align: top;
}
#s-b112341d-267a-4530-a31f-53c2af29a3c1 #s-Text_9 {
  position: absolute;
  top: 34px;
  left: 107px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-b112341d-267a-4530-a31f-53c2af29a3c1 #s-Text_9 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-b112341d-267a-4530-a31f-53c2af29a3c1 #s-Text_9 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-b112341d-267a-4530-a31f-53c2af29a3c1 #s-Text_9 span#rtr-s-Text_9_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-b112341d-267a-4530-a31f-53c2af29a3c1 #s-Button_10 {
  position: absolute;
  top: 110px;
  left: 144px;
  width: auto;
  height: auto;
  background-color: #FFFFFF;
  background-image: -moz-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#FFFFFF), color-stop(100%,#E6E6E6));
  background-image: -o-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 3px 3px 3px 3px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-b112341d-267a-4530-a31f-53c2af29a3c1 #s-Button_10 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-b112341d-267a-4530-a31f-53c2af29a3c1 #s-Button_10 span {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-b112341d-267a-4530-a31f-53c2af29a3c1 #s-Button_10 span#rtr-s-Button_10_0 {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-b112341d-267a-4530-a31f-53c2af29a3c1 #s-activate_ok {
  width: 319px;
  height: 173px;
  background-color: #D9D9D9;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-b112341d-267a-4530-a31f-53c2af29a3c1 #s-activate_ok td.layout {
  padding: 0px 0px 0px 0px;
}
#s-b112341d-267a-4530-a31f-53c2af29a3c1 #s-activate_ok .verticalalign {
  vertical-align: top;
}
#s-b112341d-267a-4530-a31f-53c2af29a3c1 #s-Text_10 {
  position: absolute;
  top: 25px;
  left: 56px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-b112341d-267a-4530-a31f-53c2af29a3c1 #s-Text_10 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-b112341d-267a-4530-a31f-53c2af29a3c1 #s-Text_10 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-b112341d-267a-4530-a31f-53c2af29a3c1 #s-Text_10 span#rtr-s-Text_10_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-b112341d-267a-4530-a31f-53c2af29a3c1 #s-Text_10 span#rtr-s-Text_10_1 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-b112341d-267a-4530-a31f-53c2af29a3c1 #s-Button_11 {
  position: absolute;
  top: 109px;
  left: 144px;
  width: auto;
  height: auto;
  background-color: #FFFFFF;
  background-image: -moz-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#FFFFFF), color-stop(100%,#E6E6E6));
  background-image: -o-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 3px 3px 3px 3px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-b112341d-267a-4530-a31f-53c2af29a3c1 #s-Button_11 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-b112341d-267a-4530-a31f-53c2af29a3c1 #s-Button_11 span {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-b112341d-267a-4530-a31f-53c2af29a3c1 #s-Button_11 span#rtr-s-Button_11_0 {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-b112341d-267a-4530-a31f-53c2af29a3c1 #s-deactivate_ok {
  width: 319px;
  height: 173px;
  background-color: #D9D9D9;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-b112341d-267a-4530-a31f-53c2af29a3c1 #s-deactivate_ok td.layout {
  padding: 0px 0px 0px 0px;
}
#s-b112341d-267a-4530-a31f-53c2af29a3c1 #s-deactivate_ok .verticalalign {
  vertical-align: top;
}
#s-b112341d-267a-4530-a31f-53c2af29a3c1 #s-Text_11 {
  position: absolute;
  top: 29px;
  left: 99px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-b112341d-267a-4530-a31f-53c2af29a3c1 #s-Text_11 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-b112341d-267a-4530-a31f-53c2af29a3c1 #s-Text_11 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-b112341d-267a-4530-a31f-53c2af29a3c1 #s-Text_11 span#rtr-s-Text_11_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-b112341d-267a-4530-a31f-53c2af29a3c1 #s-Button_12 {
  position: absolute;
  top: 109px;
  left: 144px;
  width: auto;
  height: auto;
  background-color: #FFFFFF;
  background-image: -moz-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#FFFFFF), color-stop(100%,#E6E6E6));
  background-image: -o-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 3px 3px 3px 3px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-b112341d-267a-4530-a31f-53c2af29a3c1 #s-Button_12 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-b112341d-267a-4530-a31f-53c2af29a3c1 #s-Button_12 span {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-b112341d-267a-4530-a31f-53c2af29a3c1 #s-Button_12 span#rtr-s-Button_12_0 {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-b112341d-267a-4530-a31f-53c2af29a3c1 #s-verify_ok {
  width: 319px;
  height: 173px;
  background-color: #D9D9D9;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-b112341d-267a-4530-a31f-53c2af29a3c1 #s-verify_ok td.layout {
  padding: 0px 0px 0px 0px;
}
#s-b112341d-267a-4530-a31f-53c2af29a3c1 #s-verify_ok .verticalalign {
  vertical-align: top;
}
#s-b112341d-267a-4530-a31f-53c2af29a3c1 #s-Text_12 {
  position: absolute;
  top: 26px;
  left: 63px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-b112341d-267a-4530-a31f-53c2af29a3c1 #s-Text_12 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-b112341d-267a-4530-a31f-53c2af29a3c1 #s-Text_12 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-b112341d-267a-4530-a31f-53c2af29a3c1 #s-Text_12 span#rtr-s-Text_12_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-b112341d-267a-4530-a31f-53c2af29a3c1 #s-Button_13 {
  position: absolute;
  top: 109px;
  left: 144px;
  width: auto;
  height: auto;
  background-color: #FFFFFF;
  background-image: -moz-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#FFFFFF), color-stop(100%,#E6E6E6));
  background-image: -o-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 3px 3px 3px 3px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-b112341d-267a-4530-a31f-53c2af29a3c1 #s-Button_13 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-b112341d-267a-4530-a31f-53c2af29a3c1 #s-Button_13 span {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-b112341d-267a-4530-a31f-53c2af29a3c1 #s-Button_13 span#rtr-s-Button_13_0 {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-b112341d-267a-4530-a31f-53c2af29a3c1 #s-comProf_button_deleteProfile {
  position: absolute;
  top: 362px;
  left: 130px;
  width: auto;
  height: auto;
  background-color: #FFFFFF;
  background-image: -moz-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#FFFFFF), color-stop(100%,#E6E6E6));
  background-image: -o-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 3px 3px 3px 3px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 12.0pt;
  font-family: 'Arial',Arial;
}
#s-b112341d-267a-4530-a31f-53c2af29a3c1 #s-comProf_button_deleteProfile .valign {
  vertical-align: middle;
  text-align: center;
}
#s-b112341d-267a-4530-a31f-53c2af29a3c1 #s-comProf_button_deleteProfile span {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-b112341d-267a-4530-a31f-53c2af29a3c1 #s-comProf_button_deleteProfile span#rtr-s-comProf_button_deleteProfile_0 {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-b112341d-267a-4530-a31f-53c2af29a3c1 #s-comProf_button_deleteProfile span#rtr-s-comProf_button_deleteProfile_1 {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-b112341d-267a-4530-a31f-53c2af29a3c1 #s-comProf_button_deleteProfile span#rtr-s-comProf_button_deleteProfile_2 {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-b112341d-267a-4530-a31f-53c2af29a3c1 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}