#m-e8708d40-10a0-4095-bb85-bd2a24265b76 #m-e8708d40-Logo {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-e8708d40-10a0-4095-bb85-bd2a24265b76 #m-e8708d40-menu_company_profileCompany {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-e8708d40-10a0-4095-bb85-bd2a24265b76 #m-e8708d40-menu_company_searchJobSeeker {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-e8708d40-10a0-4095-bb85-bd2a24265b76 #m-e8708d40-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cfc8ce98-9b7e-4a1c-8fb4-cf4f9ee7df1b #s-ComSearch_text_skills {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cfc8ce98-9b7e-4a1c-8fb4-cf4f9ee7df1b #s-ComSearch_btn_submit {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f91e2705-779e-45de-b806-10b9e2ba07c7 #m-f91e2705-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f91e2705-779e-45de-b806-10b9e2ba07c7 #m-f91e2705-title {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f91e2705-779e-45de-b806-10b9e2ba07c7 #m-f91e2705-name {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f91e2705-779e-45de-b806-10b9e2ba07c7 #m-f91e2705-surname {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f91e2705-779e-45de-b806-10b9e2ba07c7 #m-f91e2705-verification_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f91e2705-779e-45de-b806-10b9e2ba07c7 #m-f91e2705-directionWork_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f91e2705-779e-45de-b806-10b9e2ba07c7 #m-f91e2705-experienceYear {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f91e2705-779e-45de-b806-10b9e2ba07c7 #m-f91e2705-Skills {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f91e2705-779e-45de-b806-10b9e2ba07c7 #m-f91e2705-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f91e2705-779e-45de-b806-10b9e2ba07c7 #m-f91e2705-title {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f91e2705-779e-45de-b806-10b9e2ba07c7 #m-f91e2705-name {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f91e2705-779e-45de-b806-10b9e2ba07c7 #m-f91e2705-surname {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f91e2705-779e-45de-b806-10b9e2ba07c7 #m-f91e2705-verification_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f91e2705-779e-45de-b806-10b9e2ba07c7 #m-f91e2705-directionWork_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f91e2705-779e-45de-b806-10b9e2ba07c7 #m-f91e2705-experienceYear {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f91e2705-779e-45de-b806-10b9e2ba07c7 #m-f91e2705-Skills {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f91e2705-779e-45de-b806-10b9e2ba07c7 #m-f91e2705-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f91e2705-779e-45de-b806-10b9e2ba07c7 #m-f91e2705-title {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f91e2705-779e-45de-b806-10b9e2ba07c7 #m-f91e2705-name {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f91e2705-779e-45de-b806-10b9e2ba07c7 #m-f91e2705-surname {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f91e2705-779e-45de-b806-10b9e2ba07c7 #m-f91e2705-verification_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f91e2705-779e-45de-b806-10b9e2ba07c7 #m-f91e2705-directionWork_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f91e2705-779e-45de-b806-10b9e2ba07c7 #m-f91e2705-experienceYear {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f91e2705-779e-45de-b806-10b9e2ba07c7 #m-f91e2705-Skills {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cfc8ce98-9b7e-4a1c-8fb4-cf4f9ee7df1b #s-moreDetailed_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cfc8ce98-9b7e-4a1c-8fb4-cf4f9ee7df1b #s-moreDetailed_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cfc8ce98-9b7e-4a1c-8fb4-cf4f9ee7df1b #s-moreDetailed_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-952ade57-ada3-472c-b7ea-e017f811383f #m-952ade57-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-952ade57-ada3-472c-b7ea-e017f811383f #m-952ade57-title_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-952ade57-ada3-472c-b7ea-e017f811383f #m-952ade57-name_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-952ade57-ada3-472c-b7ea-e017f811383f #m-952ade57-surname_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-952ade57-ada3-472c-b7ea-e017f811383f #m-952ade57-verification_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-952ade57-ada3-472c-b7ea-e017f811383f #m-952ade57-directionWork_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-952ade57-ada3-472c-b7ea-e017f811383f #m-952ade57-experienceYear_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-952ade57-ada3-472c-b7ea-e017f811383f #m-952ade57-Skills_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-952ade57-ada3-472c-b7ea-e017f811383f #m-952ade57-dateBirth {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-952ade57-ada3-472c-b7ea-e017f811383f #m-952ade57-location {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-952ade57-ada3-472c-b7ea-e017f811383f #m-952ade57-phone {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-952ade57-ada3-472c-b7ea-e017f811383f #m-952ade57-email {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-952ade57-ada3-472c-b7ea-e017f811383f #m-952ade57-linkedin {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-952ade57-ada3-472c-b7ea-e017f811383f #m-952ade57-languages {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-952ade57-ada3-472c-b7ea-e017f811383f #m-952ade57-languages_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f91e2705-779e-45de-b806-10b9e2ba07c7 #m-f91e2705-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f91e2705-779e-45de-b806-10b9e2ba07c7 #m-f91e2705-title {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f91e2705-779e-45de-b806-10b9e2ba07c7 #m-f91e2705-name {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f91e2705-779e-45de-b806-10b9e2ba07c7 #m-f91e2705-surname {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f91e2705-779e-45de-b806-10b9e2ba07c7 #m-f91e2705-verification_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f91e2705-779e-45de-b806-10b9e2ba07c7 #m-f91e2705-directionWork_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f91e2705-779e-45de-b806-10b9e2ba07c7 #m-f91e2705-experienceYear {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f91e2705-779e-45de-b806-10b9e2ba07c7 #m-f91e2705-Skills {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cfc8ce98-9b7e-4a1c-8fb4-cf4f9ee7df1b #s-moreDetailed_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f91e2705-779e-45de-b806-10b9e2ba07c7 #m-f91e2705-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f91e2705-779e-45de-b806-10b9e2ba07c7 #m-f91e2705-title {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f91e2705-779e-45de-b806-10b9e2ba07c7 #m-f91e2705-name {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f91e2705-779e-45de-b806-10b9e2ba07c7 #m-f91e2705-surname {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f91e2705-779e-45de-b806-10b9e2ba07c7 #m-f91e2705-verification_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f91e2705-779e-45de-b806-10b9e2ba07c7 #m-f91e2705-directionWork_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f91e2705-779e-45de-b806-10b9e2ba07c7 #m-f91e2705-experienceYear {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f91e2705-779e-45de-b806-10b9e2ba07c7 #m-f91e2705-Skills {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cfc8ce98-9b7e-4a1c-8fb4-cf4f9ee7df1b #s-moreDetailed_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cfc8ce98-9b7e-4a1c-8fb4-cf4f9ee7df1b #s-moreDetailed_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f91e2705-779e-45de-b806-10b9e2ba07c7 #m-f91e2705-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f91e2705-779e-45de-b806-10b9e2ba07c7 #m-f91e2705-title {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f91e2705-779e-45de-b806-10b9e2ba07c7 #m-f91e2705-name {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f91e2705-779e-45de-b806-10b9e2ba07c7 #m-f91e2705-surname {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f91e2705-779e-45de-b806-10b9e2ba07c7 #m-f91e2705-verification_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f91e2705-779e-45de-b806-10b9e2ba07c7 #m-f91e2705-directionWork_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f91e2705-779e-45de-b806-10b9e2ba07c7 #m-f91e2705-experienceYear {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f91e2705-779e-45de-b806-10b9e2ba07c7 #m-f91e2705-Skills {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-952ade57-ada3-472c-b7ea-e017f811383f #m-952ade57-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-952ade57-ada3-472c-b7ea-e017f811383f #m-952ade57-title_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-952ade57-ada3-472c-b7ea-e017f811383f #m-952ade57-name_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-952ade57-ada3-472c-b7ea-e017f811383f #m-952ade57-surname_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-952ade57-ada3-472c-b7ea-e017f811383f #m-952ade57-verification_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-952ade57-ada3-472c-b7ea-e017f811383f #m-952ade57-directionWork_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-952ade57-ada3-472c-b7ea-e017f811383f #m-952ade57-experienceYear_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-952ade57-ada3-472c-b7ea-e017f811383f #m-952ade57-Skills_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-952ade57-ada3-472c-b7ea-e017f811383f #m-952ade57-dateBirth {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-952ade57-ada3-472c-b7ea-e017f811383f #m-952ade57-location {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-952ade57-ada3-472c-b7ea-e017f811383f #m-952ade57-phone {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-952ade57-ada3-472c-b7ea-e017f811383f #m-952ade57-email {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-952ade57-ada3-472c-b7ea-e017f811383f #m-952ade57-linkedin {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-952ade57-ada3-472c-b7ea-e017f811383f #m-952ade57-languages {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-952ade57-ada3-472c-b7ea-e017f811383f #m-952ade57-languages_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f91e2705-779e-45de-b806-10b9e2ba07c7 #m-f91e2705-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f91e2705-779e-45de-b806-10b9e2ba07c7 #m-f91e2705-title {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f91e2705-779e-45de-b806-10b9e2ba07c7 #m-f91e2705-name {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f91e2705-779e-45de-b806-10b9e2ba07c7 #m-f91e2705-surname {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f91e2705-779e-45de-b806-10b9e2ba07c7 #m-f91e2705-verification_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f91e2705-779e-45de-b806-10b9e2ba07c7 #m-f91e2705-directionWork_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f91e2705-779e-45de-b806-10b9e2ba07c7 #m-f91e2705-experienceYear {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f91e2705-779e-45de-b806-10b9e2ba07c7 #m-f91e2705-Skills {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cfc8ce98-9b7e-4a1c-8fb4-cf4f9ee7df1b #s-moreDetailed_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cfc8ce98-9b7e-4a1c-8fb4-cf4f9ee7df1b #s-moreDetailed_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cfc8ce98-9b7e-4a1c-8fb4-cf4f9ee7df1b #s-moreDetailed_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f91e2705-779e-45de-b806-10b9e2ba07c7 #m-f91e2705-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f91e2705-779e-45de-b806-10b9e2ba07c7 #m-f91e2705-title {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f91e2705-779e-45de-b806-10b9e2ba07c7 #m-f91e2705-name {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f91e2705-779e-45de-b806-10b9e2ba07c7 #m-f91e2705-surname {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f91e2705-779e-45de-b806-10b9e2ba07c7 #m-f91e2705-verification_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f91e2705-779e-45de-b806-10b9e2ba07c7 #m-f91e2705-directionWork_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f91e2705-779e-45de-b806-10b9e2ba07c7 #m-f91e2705-experienceYear {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f91e2705-779e-45de-b806-10b9e2ba07c7 #m-f91e2705-Skills {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f91e2705-779e-45de-b806-10b9e2ba07c7 #m-f91e2705-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f91e2705-779e-45de-b806-10b9e2ba07c7 #m-f91e2705-title {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f91e2705-779e-45de-b806-10b9e2ba07c7 #m-f91e2705-name {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f91e2705-779e-45de-b806-10b9e2ba07c7 #m-f91e2705-surname {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f91e2705-779e-45de-b806-10b9e2ba07c7 #m-f91e2705-verification_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f91e2705-779e-45de-b806-10b9e2ba07c7 #m-f91e2705-directionWork_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f91e2705-779e-45de-b806-10b9e2ba07c7 #m-f91e2705-experienceYear {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f91e2705-779e-45de-b806-10b9e2ba07c7 #m-f91e2705-Skills {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-952ade57-ada3-472c-b7ea-e017f811383f #m-952ade57-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-952ade57-ada3-472c-b7ea-e017f811383f #m-952ade57-title_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-952ade57-ada3-472c-b7ea-e017f811383f #m-952ade57-name_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-952ade57-ada3-472c-b7ea-e017f811383f #m-952ade57-surname_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-952ade57-ada3-472c-b7ea-e017f811383f #m-952ade57-verification_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-952ade57-ada3-472c-b7ea-e017f811383f #m-952ade57-directionWork_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-952ade57-ada3-472c-b7ea-e017f811383f #m-952ade57-experienceYear_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-952ade57-ada3-472c-b7ea-e017f811383f #m-952ade57-Skills_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-952ade57-ada3-472c-b7ea-e017f811383f #m-952ade57-dateBirth {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-952ade57-ada3-472c-b7ea-e017f811383f #m-952ade57-location {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-952ade57-ada3-472c-b7ea-e017f811383f #m-952ade57-phone {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-952ade57-ada3-472c-b7ea-e017f811383f #m-952ade57-email {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-952ade57-ada3-472c-b7ea-e017f811383f #m-952ade57-linkedin {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-952ade57-ada3-472c-b7ea-e017f811383f #m-952ade57-languages {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-952ade57-ada3-472c-b7ea-e017f811383f #m-952ade57-languages_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cfc8ce98-9b7e-4a1c-8fb4-cf4f9ee7df1b #s-moreDetailed_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cfc8ce98-9b7e-4a1c-8fb4-cf4f9ee7df1b #s-moreDetailed_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cfc8ce98-9b7e-4a1c-8fb4-cf4f9ee7df1b #s-moreDetailed_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cfc8ce98-9b7e-4a1c-8fb4-cf4f9ee7df1b > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}