#m-646842ad-b0ac-46a6-b31f-fb85ff32e685 #m-646842ad-Logo {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-646842ad-b0ac-46a6-b31f-fb85ff32e685 #m-646842ad-menu_jobseeker_profileJobseeker {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-646842ad-b0ac-46a6-b31f-fb85ff32e685 #m-646842ad-menu_jobseeker_createResume {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-646842ad-b0ac-46a6-b31f-fb85ff32e685 #m-646842ad-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-df07b1a5-0990-4e27-ab13-b0ac9e7f5bff #s-MyResume {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-df07b1a5-0990-4e27-ab13-b0ac9e7f5bff #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-df07b1a5-0990-4e27-ab13-b0ac9e7f5bff #s-ProfileData {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-df07b1a5-0990-4e27-ab13-b0ac9e7f5bff #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-df07b1a5-0990-4e27-ab13-b0ac9e7f5bff #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-df07b1a5-0990-4e27-ab13-b0ac9e7f5bff #s-Button_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-df07b1a5-0990-4e27-ab13-b0ac9e7f5bff #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-df07b1a5-0990-4e27-ab13-b0ac9e7f5bff #s-Text_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-df07b1a5-0990-4e27-ab13-b0ac9e7f5bff #s-Text_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-df07b1a5-0990-4e27-ab13-b0ac9e7f5bff #s-Text_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-df07b1a5-0990-4e27-ab13-b0ac9e7f5bff #s-Label_37 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-df07b1a5-0990-4e27-ab13-b0ac9e7f5bff #s-Text_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-df07b1a5-0990-4e27-ab13-b0ac9e7f5bff #s-Text_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-df07b1a5-0990-4e27-ab13-b0ac9e7f5bff #s-Text_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-df07b1a5-0990-4e27-ab13-b0ac9e7f5bff #s-Text_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-df07b1a5-0990-4e27-ab13-b0ac9e7f5bff #s-Text_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-df07b1a5-0990-4e27-ab13-b0ac9e7f5bff #s-Text_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-df07b1a5-0990-4e27-ab13-b0ac9e7f5bff #s-Text_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-df07b1a5-0990-4e27-ab13-b0ac9e7f5bff #s-Button_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-df07b1a5-0990-4e27-ab13-b0ac9e7f5bff #s-Button_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-df07b1a5-0990-4e27-ab13-b0ac9e7f5bff #s-Text_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-df07b1a5-0990-4e27-ab13-b0ac9e7f5bff #s-Button_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-df07b1a5-0990-4e27-ab13-b0ac9e7f5bff #s-Text_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-df07b1a5-0990-4e27-ab13-b0ac9e7f5bff #s-Button_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-df07b1a5-0990-4e27-ab13-b0ac9e7f5bff #s-Text_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-df07b1a5-0990-4e27-ab13-b0ac9e7f5bff #s-Button_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-df07b1a5-0990-4e27-ab13-b0ac9e7f5bff #s-Text_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-df07b1a5-0990-4e27-ab13-b0ac9e7f5bff #s-Button_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-df07b1a5-0990-4e27-ab13-b0ac9e7f5bff #s-Button_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-df07b1a5-0990-4e27-ab13-b0ac9e7f5bff #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-df07b1a5-0990-4e27-ab13-b0ac9e7f5bff #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-df07b1a5-0990-4e27-ab13-b0ac9e7f5bff #s-Button_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-df07b1a5-0990-4e27-ab13-b0ac9e7f5bff #s-verification_ok {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-df07b1a5-0990-4e27-ab13-b0ac9e7f5bff #s-front_active_until {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-df07b1a5-0990-4e27-ab13-b0ac9e7f5bff #s-front_active_no {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-df07b1a5-0990-4e27-ab13-b0ac9e7f5bff #s-front_deactive {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-df07b1a5-0990-4e27-ab13-b0ac9e7f5bff #s-front-active {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-df07b1a5-0990-4e27-ab13-b0ac9e7f5bff #s-full_active_until {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-df07b1a5-0990-4e27-ab13-b0ac9e7f5bff #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-df07b1a5-0990-4e27-ab13-b0ac9e7f5bff #s-Button_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-df07b1a5-0990-4e27-ab13-b0ac9e7f5bff #s-Button_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-df07b1a5-0990-4e27-ab13-b0ac9e7f5bff #s-Button_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-df07b1a5-0990-4e27-ab13-b0ac9e7f5bff #s-full_btn_deactiv {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-df07b1a5-0990-4e27-ab13-b0ac9e7f5bff #s-verification_inProcess {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-df07b1a5-0990-4e27-ab13-b0ac9e7f5bff #s-verification_no {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-df07b1a5-0990-4e27-ab13-b0ac9e7f5bff #s-full_active_no {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-df07b1a5-0990-4e27-ab13-b0ac9e7f5bff #s-full_btn_activ {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-df07b1a5-0990-4e27-ab13-b0ac9e7f5bff #s-btn_deleteProfile {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-df07b1a5-0990-4e27-ab13-b0ac9e7f5bff #s-btn_deleteProfile_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-df07b1a5-0990-4e27-ab13-b0ac9e7f5bff > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}