#m-34cf4625-e41e-421a-a48d-db610044defd #m-34cf4625-regJS_input_nameUniversity input::-webkit-input-placeholder {
  color: #B4B4B4;
}
#m-34cf4625-e41e-421a-a48d-db610044defd #m-34cf4625-regJS_input_nameUniversity input::-moz-placeholder {
  color: #B4B4B4;
}
#m-34cf4625-e41e-421a-a48d-db610044defd #m-34cf4625-regJS_input_nameUniversity input:-moz-placeholder {
  color: #B4B4B4;
}
#m-34cf4625-e41e-421a-a48d-db610044defd #m-34cf4625-regJS_input_nameUniversity input:-ms-input-placeholder {
  color: #B4B4B4;
}
#m-34cf4625-e41e-421a-a48d-db610044defd #m-34cf4625-regJS_input_nameUniversity {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-left: 5px;
  width: 214px;
  height: 27px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  box-shadow: none;
  text-shadow: none;
  cursor: text;
}
#m-34cf4625-e41e-421a-a48d-db610044defd #m-34cf4625-regJS_input_nameUniversity .valign {
  vertical-align: middle;
  line-height: 12.0pt;
}
#m-34cf4625-e41e-421a-a48d-db610044defd #m-34cf4625-regJS_input_nameUniversity input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}
#m-34cf4625-e41e-421a-a48d-db610044defd #m-34cf4625-regJS_input_nameUniversity_1 input::-webkit-input-placeholder {
  color: #B4B4B4;
}
#m-34cf4625-e41e-421a-a48d-db610044defd #m-34cf4625-regJS_input_nameUniversity_1 input::-moz-placeholder {
  color: #B4B4B4;
}
#m-34cf4625-e41e-421a-a48d-db610044defd #m-34cf4625-regJS_input_nameUniversity_1 input:-moz-placeholder {
  color: #B4B4B4;
}
#m-34cf4625-e41e-421a-a48d-db610044defd #m-34cf4625-regJS_input_nameUniversity_1 input:-ms-input-placeholder {
  color: #B4B4B4;
}
#m-34cf4625-e41e-421a-a48d-db610044defd #m-34cf4625-regJS_input_nameUniversity_1 {
  position: absolute;
  top: 0px;
  left: 240px;
  padding-left: 5px;
  width: 214px;
  height: 27px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  box-shadow: none;
  text-shadow: none;
  cursor: text;
}
#m-34cf4625-e41e-421a-a48d-db610044defd #m-34cf4625-regJS_input_nameUniversity_1 .valign {
  vertical-align: middle;
  line-height: 12.0pt;
}
#m-34cf4625-e41e-421a-a48d-db610044defd #m-34cf4625-regJS_input_nameUniversity_1 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}
#m-34cf4625-e41e-421a-a48d-db610044defd #m-34cf4625-eduDegree {
  position: absolute;
  top: 5px;
  left: 481px;
  width: 180px;
}
#m-34cf4625-e41e-421a-a48d-db610044defd #m-34cf4625-eduDegree .valign {
  width: 162px;
}
#m-34cf4625-e41e-421a-a48d-db610044defd #m-34cf4625-eduYear {
  position: absolute;
  top: 33px;
  left: 0px;
  width: 180px;
}
#m-34cf4625-e41e-421a-a48d-db610044defd #m-34cf4625-eduYear .valign {
  width: 162px;
}
#m-34cf4625-e41e-421a-a48d-db610044defd #m-34cf4625-eduYear_1 {
  position: absolute;
  top: 33px;
  left: 241px;
  width: 180px;
}
#m-34cf4625-e41e-421a-a48d-db610044defd #m-34cf4625-eduYear_1 .valign {
  width: 162px;
}
#m-34cf4625-e41e-421a-a48d-db610044defd.master > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}