#m-4f41e5b1-55a1-4693-ab9e-984738641fdb #m-4f41e5b1-regJS_input_companyName input::-webkit-input-placeholder {
  color: #B4B4B4;
}
#m-4f41e5b1-55a1-4693-ab9e-984738641fdb #m-4f41e5b1-regJS_input_companyName input::-moz-placeholder {
  color: #B4B4B4;
}
#m-4f41e5b1-55a1-4693-ab9e-984738641fdb #m-4f41e5b1-regJS_input_companyName input:-moz-placeholder {
  color: #B4B4B4;
}
#m-4f41e5b1-55a1-4693-ab9e-984738641fdb #m-4f41e5b1-regJS_input_companyName input:-ms-input-placeholder {
  color: #B4B4B4;
}
#m-4f41e5b1-55a1-4693-ab9e-984738641fdb #m-4f41e5b1-regJS_input_companyName {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-left: 5px;
  width: 214px;
  height: 27px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  box-shadow: none;
  text-shadow: none;
  cursor: text;
}
#m-4f41e5b1-55a1-4693-ab9e-984738641fdb #m-4f41e5b1-regJS_input_companyName .valign {
  vertical-align: middle;
  line-height: 12.0pt;
}
#m-4f41e5b1-55a1-4693-ab9e-984738641fdb #m-4f41e5b1-regJS_input_companyName input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}
#m-4f41e5b1-55a1-4693-ab9e-984738641fdb #m-4f41e5b1-regJS_input_position input::-webkit-input-placeholder {
  color: #B4B4B4;
}
#m-4f41e5b1-55a1-4693-ab9e-984738641fdb #m-4f41e5b1-regJS_input_position input::-moz-placeholder {
  color: #B4B4B4;
}
#m-4f41e5b1-55a1-4693-ab9e-984738641fdb #m-4f41e5b1-regJS_input_position input:-moz-placeholder {
  color: #B4B4B4;
}
#m-4f41e5b1-55a1-4693-ab9e-984738641fdb #m-4f41e5b1-regJS_input_position input:-ms-input-placeholder {
  color: #B4B4B4;
}
#m-4f41e5b1-55a1-4693-ab9e-984738641fdb #m-4f41e5b1-regJS_input_position {
  position: absolute;
  top: 0px;
  left: 240px;
  padding-left: 5px;
  width: 214px;
  height: 27px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  box-shadow: none;
  text-shadow: none;
  cursor: text;
}
#m-4f41e5b1-55a1-4693-ab9e-984738641fdb #m-4f41e5b1-regJS_input_position .valign {
  vertical-align: middle;
  line-height: 12.0pt;
}
#m-4f41e5b1-55a1-4693-ab9e-984738641fdb #m-4f41e5b1-regJS_input_position input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}
#m-4f41e5b1-55a1-4693-ab9e-984738641fdb #m-4f41e5b1-eduYear_3 {
  position: absolute;
  top: 5px;
  left: 481px;
  width: 180px;
}
#m-4f41e5b1-55a1-4693-ab9e-984738641fdb #m-4f41e5b1-eduYear_3 .valign {
  width: 162px;
}
#m-4f41e5b1-55a1-4693-ab9e-984738641fdb #m-4f41e5b1-eduYear_4 {
  position: absolute;
  top: 5px;
  left: 681px;
  width: 180px;
}
#m-4f41e5b1-55a1-4693-ab9e-984738641fdb #m-4f41e5b1-eduYear_4 .valign {
  width: 162px;
}
#m-4f41e5b1-55a1-4693-ab9e-984738641fdb.master > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}