#m-646842ad-b0ac-46a6-b31f-fb85ff32e685 #m-646842ad-Logo {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-646842ad-b0ac-46a6-b31f-fb85ff32e685 #m-646842ad-menu_jobseeker_profileJobseeker {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-646842ad-b0ac-46a6-b31f-fb85ff32e685 #m-646842ad-menu_jobseeker_createResume {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-646842ad-b0ac-46a6-b31f-fb85ff32e685 #m-646842ad-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-646842ad-b0ac-46a6-b31f-fb85ff32e685.master > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}