#m-7caab0c7-b9a7-468c-afcb-b04abf142340 #m-7caab0c7-languageType {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 180px;
}
#m-7caab0c7-b9a7-468c-afcb-b04abf142340 #m-7caab0c7-languageType .valign {
  width: 162px;
}
#m-7caab0c7-b9a7-468c-afcb-b04abf142340 #m-7caab0c7-languageType_1 {
  position: absolute;
  top: 0px;
  left: 240px;
  width: 180px;
}
#m-7caab0c7-b9a7-468c-afcb-b04abf142340 #m-7caab0c7-languageType_1 .valign {
  width: 162px;
}
#m-7caab0c7-b9a7-468c-afcb-b04abf142340.master > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}