#m-952ade57-ada3-472c-b7ea-e017f811383f #m-952ade57-Rectangle_3 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#m-952ade57-ada3-472c-b7ea-e017f811383f #m-952ade57-title_2 {
  -ms-transform: rotate(0.0deg);
}
#m-952ade57-ada3-472c-b7ea-e017f811383f #m-952ade57-name_2 {
  -ms-transform: rotate(0.0deg);
}
#m-952ade57-ada3-472c-b7ea-e017f811383f #m-952ade57-surname_2 {
  -ms-transform: rotate(0.0deg);
}
#m-952ade57-ada3-472c-b7ea-e017f811383f #m-952ade57-verification_2 {
  -ms-transform: rotate(0.0deg);
}
#m-952ade57-ada3-472c-b7ea-e017f811383f #m-952ade57-directionWork_2 {
  -ms-transform: rotate(0.0deg);
}
#m-952ade57-ada3-472c-b7ea-e017f811383f #m-952ade57-experienceYear_2 {
  -ms-transform: rotate(0.0deg);
}
#m-952ade57-ada3-472c-b7ea-e017f811383f #m-952ade57-Skills_2 {
  -ms-transform: rotate(0.0deg);
}
#m-952ade57-ada3-472c-b7ea-e017f811383f #m-952ade57-dateBirth {
  -ms-transform: rotate(0.0deg);
}
#m-952ade57-ada3-472c-b7ea-e017f811383f #m-952ade57-location {
  -ms-transform: rotate(0.0deg);
}
#m-952ade57-ada3-472c-b7ea-e017f811383f #m-952ade57-phone {
  -ms-transform: rotate(0.0deg);
}
#m-952ade57-ada3-472c-b7ea-e017f811383f #m-952ade57-email {
  -ms-transform: rotate(0.0deg);
}
#m-952ade57-ada3-472c-b7ea-e017f811383f #m-952ade57-linkedin {
  -ms-transform: rotate(0.0deg);
}
#m-952ade57-ada3-472c-b7ea-e017f811383f #m-952ade57-languages {
  -ms-transform: rotate(0.0deg);
}
#m-952ade57-ada3-472c-b7ea-e017f811383f #m-952ade57-languages_1 {
  -ms-transform: rotate(0.0deg);
}
#m-952ade57-ada3-472c-b7ea-e017f811383f.master > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}