#m-952ade57-ada3-472c-b7ea-e017f811383f #m-952ade57-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-952ade57-ada3-472c-b7ea-e017f811383f #m-952ade57-title_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-952ade57-ada3-472c-b7ea-e017f811383f #m-952ade57-name_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-952ade57-ada3-472c-b7ea-e017f811383f #m-952ade57-surname_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-952ade57-ada3-472c-b7ea-e017f811383f #m-952ade57-verification_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-952ade57-ada3-472c-b7ea-e017f811383f #m-952ade57-directionWork_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-952ade57-ada3-472c-b7ea-e017f811383f #m-952ade57-experienceYear_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-952ade57-ada3-472c-b7ea-e017f811383f #m-952ade57-Skills_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-952ade57-ada3-472c-b7ea-e017f811383f #m-952ade57-dateBirth {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-952ade57-ada3-472c-b7ea-e017f811383f #m-952ade57-location {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-952ade57-ada3-472c-b7ea-e017f811383f #m-952ade57-phone {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-952ade57-ada3-472c-b7ea-e017f811383f #m-952ade57-email {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-952ade57-ada3-472c-b7ea-e017f811383f #m-952ade57-linkedin {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-952ade57-ada3-472c-b7ea-e017f811383f #m-952ade57-languages {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-952ade57-ada3-472c-b7ea-e017f811383f #m-952ade57-languages_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-952ade57-ada3-472c-b7ea-e017f811383f.master > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}