#m-ac021a89-e164-4546-9a90-6651e02e86b0 #m-ac021a89-regJS_input_projectName input::-webkit-input-placeholder {
  color: #B4B4B4;
}
#m-ac021a89-e164-4546-9a90-6651e02e86b0 #m-ac021a89-regJS_input_projectName input::-moz-placeholder {
  color: #B4B4B4;
}
#m-ac021a89-e164-4546-9a90-6651e02e86b0 #m-ac021a89-regJS_input_projectName input:-moz-placeholder {
  color: #B4B4B4;
}
#m-ac021a89-e164-4546-9a90-6651e02e86b0 #m-ac021a89-regJS_input_projectName input:-ms-input-placeholder {
  color: #B4B4B4;
}
#m-ac021a89-e164-4546-9a90-6651e02e86b0 #m-ac021a89-regJS_input_projectName {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-left: 5px;
  width: 214px;
  height: 27px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  box-shadow: none;
  text-shadow: none;
  cursor: text;
}
#m-ac021a89-e164-4546-9a90-6651e02e86b0 #m-ac021a89-regJS_input_projectName .valign {
  vertical-align: middle;
  line-height: 12.0pt;
}
#m-ac021a89-e164-4546-9a90-6651e02e86b0 #m-ac021a89-regJS_input_projectName input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}
#m-ac021a89-e164-4546-9a90-6651e02e86b0 #m-ac021a89-eduYear_5 {
  position: absolute;
  top: 5px;
  left: 241px;
  width: 180px;
}
#m-ac021a89-e164-4546-9a90-6651e02e86b0 #m-ac021a89-eduYear_5 .valign {
  width: 162px;
}
#m-ac021a89-e164-4546-9a90-6651e02e86b0 #m-ac021a89-regJS_input_descriptProj input::-webkit-input-placeholder {
  color: #B4B4B4;
}
#m-ac021a89-e164-4546-9a90-6651e02e86b0 #m-ac021a89-regJS_input_descriptProj input::-moz-placeholder {
  color: #B4B4B4;
}
#m-ac021a89-e164-4546-9a90-6651e02e86b0 #m-ac021a89-regJS_input_descriptProj input:-moz-placeholder {
  color: #B4B4B4;
}
#m-ac021a89-e164-4546-9a90-6651e02e86b0 #m-ac021a89-regJS_input_descriptProj input:-ms-input-placeholder {
  color: #B4B4B4;
}
#m-ac021a89-e164-4546-9a90-6651e02e86b0 #m-ac021a89-regJS_input_descriptProj {
  position: absolute;
  top: 0px;
  left: 440px;
  padding-left: 5px;
  width: 414px;
  height: 27px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  box-shadow: none;
  text-shadow: none;
  cursor: text;
}
#m-ac021a89-e164-4546-9a90-6651e02e86b0 #m-ac021a89-regJS_input_descriptProj .valign {
  vertical-align: middle;
  line-height: 12.0pt;
}
#m-ac021a89-e164-4546-9a90-6651e02e86b0 #m-ac021a89-regJS_input_descriptProj input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}
#m-ac021a89-e164-4546-9a90-6651e02e86b0.master > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}