#m-e8708d40-10a0-4095-bb85-bd2a24265b76 #m-e8708d40-Logo {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-e8708d40-10a0-4095-bb85-bd2a24265b76 #m-e8708d40-menu_company_profileCompany {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-e8708d40-10a0-4095-bb85-bd2a24265b76 #m-e8708d40-menu_company_searchJobSeeker {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-e8708d40-10a0-4095-bb85-bd2a24265b76 #m-e8708d40-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-e8708d40-10a0-4095-bb85-bd2a24265b76.master > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}