#m-f91e2705-779e-45de-b806-10b9e2ba07c7 #m-f91e2705-Rectangle_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#m-f91e2705-779e-45de-b806-10b9e2ba07c7 #m-f91e2705-title {
  -ms-transform: rotate(0.0deg);
}
#m-f91e2705-779e-45de-b806-10b9e2ba07c7 #m-f91e2705-name {
  -ms-transform: rotate(0.0deg);
}
#m-f91e2705-779e-45de-b806-10b9e2ba07c7 #m-f91e2705-surname {
  -ms-transform: rotate(0.0deg);
}
#m-f91e2705-779e-45de-b806-10b9e2ba07c7 #m-f91e2705-verification_1 {
  -ms-transform: rotate(0.0deg);
}
#m-f91e2705-779e-45de-b806-10b9e2ba07c7 #m-f91e2705-directionWork_1 {
  -ms-transform: rotate(0.0deg);
}
#m-f91e2705-779e-45de-b806-10b9e2ba07c7 #m-f91e2705-experienceYear {
  -ms-transform: rotate(0.0deg);
}
#m-f91e2705-779e-45de-b806-10b9e2ba07c7 #m-f91e2705-Skills {
  -ms-transform: rotate(0.0deg);
}
#m-f91e2705-779e-45de-b806-10b9e2ba07c7.master > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}