#m-f91e2705-779e-45de-b806-10b9e2ba07c7 #m-f91e2705-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f91e2705-779e-45de-b806-10b9e2ba07c7 #m-f91e2705-title {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f91e2705-779e-45de-b806-10b9e2ba07c7 #m-f91e2705-name {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f91e2705-779e-45de-b806-10b9e2ba07c7 #m-f91e2705-surname {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f91e2705-779e-45de-b806-10b9e2ba07c7 #m-f91e2705-verification_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f91e2705-779e-45de-b806-10b9e2ba07c7 #m-f91e2705-directionWork_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f91e2705-779e-45de-b806-10b9e2ba07c7 #m-f91e2705-experienceYear {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f91e2705-779e-45de-b806-10b9e2ba07c7 #m-f91e2705-Skills {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f91e2705-779e-45de-b806-10b9e2ba07c7.master > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}